{% extends 'base.html' %}

{% block content %}
    <div class="" id="">
        <div class="columns is-centered">
            <div class="column is-6">
                <a href="{{ url_for('sudoku.solver') }}"  class="button is-primary is-fullwidth column">Sudoku solver</a>
            </div>
        </div>

        <div class="columns is-centered">
            <div class="column is-6 ">
                <button class="button is-primary is-fullwidth column">Play sudoku</button>
            </div>
        </div>
    </div>
{% endblock %}