{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <button class="button is-primary">sudoku solver</button>
            </div>
        </div>

        <div class="columns is-centered">
            <div class="column is-half has-text-centered">
                <button class="button is-primary">Play sudoku</button>
            </div>
        </div>
    </div>
{% endblock %}