{% extends "base.html" %}
{% block content %}
    <div class="columns is-centered">
    </div>
    <div id="solver-container">
        <div class="content">
            <h6>Fill in the empty cells with your Sudoku puzzle. When ready, click 'Solve' to see the solution.</h6>
        </div>
        <div id="sudoku-table">
            {% for row in table_structure %}
                <div class="block">
                    {% for cell in row %}
                        <div class="cell" row="{{ cell.row }}" col="{{ cell.col }}" block="{{ cell.block }}" tabindex="-1"></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div id="solver-buttons">
            <button type="button" class="button is-info" id="clear-button">Clear table</button>
            <button type="button" class="button is-primary" id="solve-button">Solve</button>
            <div><input class="checkbox" id="show-steps-input" type="checkbox" name="show-step"> <label>Show step-by-step<label></div>
            <div id='speed-slider-container'>
                <input class="slider is-fullwidth" step="1" min="0" max="3" value="0" type="range"><br>
                <p style="text-align: center">Speed</p>
            </div>
        </div>    
    </div>
    
<script src="{{ url_for('static', filename='js/solver.mjs') }}" type="module"></script>

{% endblock %}


